.sliderReceipts {
  display: flex;
  flex-direction: row;

  .slick-arrow {
    display: none !important;
  }

  .slick-track {
    width: auto !important;
  }

  .slick-list {
    height: 445px !important;
  }

  .slick-arrow {
    display: none !important;
  }

  .slick-slide {
    display: grid !important;
    place-items: flex-end;
    width: 500px !important;
    height: 445px;
    border-radius: 15px !important;
    margin-right: 30px;
    padding-bottom: 20px !important;
    position: relative !important;

    :focus-visible {
      outline: none !important;
    }
  }
}